.contact {
  margin: 0;
  padding: 5px;
  background-color: lightgray;
}
.cont {
  background-color: lightcyan;
}
.skills {
  background-color: lightgoldenrodyellow;
}

.nav {
  width: 90%;
}

.row {
  display: flex;
}
.column {
  flex: 50%;
}

.info {
  background-color: cornflowerblue;
  vertical-align: middle;
}
.summary {
  font-size: large;
}
img {
  border-radius: 50%;
  float: right;
}
